body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.25rem;
}

/*for seksjonen inputUser*/
.inputUser {
    margin-top: 5%;
}

input {
    border-radius: 12px;
    height: 25px;
}

#minutes {
    margin-bottom: 120px;
    font-size: 2rem;
}

.btn {
    border-radius: 12px;
    height: 28px;
  }
  
/*for liste seksjonen*/
#besøksliste-tittel {
    margin-top: 100px;
}

  
